In [1]:
import pandas as pd
from pathlib import Path

In [2]:
#File to Load
fatalities_csv = Path("./Resources/fatal-police-shootings-data.csv")

#Read Data FIle and Store into Pandas DataFrames
fatalities_data = pd.read_csv(fatalities_csv)

#Display Data Frame ("id","date","threat_type","flee_status","armed_with","city","county","state","latitude","longitude","location_precision","name","age","gender","race","race_source","was_mental_illness_related","body_camera","agency_ids")
fatalities_data.head()

,id,date,threat_type,flee_status,armed_with,city,county,state,latitude,longitude,location_precision,name,age,gender,race,race_source,was_mental_illness_related,body_camera,agency_ids
0,3,2015-01-02,point,not,gun,Shelton,Mason,WA,47.246826,-123.121592,not_available,Tim Elliot,53.0,male,A,not_available,True,False,73
1,4,2015-01-02,point,not,gun,Aloha,Washington,OR,45.487421,-122.891696,not_available,Lewis Lee Lembke,47.0,male,W,not_available,False,False,70
2,5,2015-01-03,move,not,unarmed,Wichita,Sedgwick,KS,37.694766,-97.280554,not_available,John Paul Quintero,23.0,male,H,not_available,False,False,238
3,8,2015-01-04,point,not,replica,San Francisco,San Francisco,CA,37.762910,-122.422001,not_available,Matthew Hoffman,32.0,male,W,not_available,True,False,196
4,9,2015-01-04,point,not,other,Evans,Weld,CO,40.383937,-104.692261,not_available,Michael Rodriguez,39.0,male,H,not_available,False,False,473

In [5]:
#Display Data Frame (city = Chicago) 
fatalities_data = fatalities_data[fatalities_data["city"] == "Chicago"]
fatalities_data.head()

,id,date,threat_type,flee_status,armed_with,city,county,state,latitude,longitude,location_precision,name,age,gender,race,race_source,was_mental_illness_related,body_camera,agency_ids
287,380,2015-04-17,point,foot,gun,Chicago,Cook,IL,41.760724,-87.572477,not_available,Jeffrey Kemp,18.0,male,B,not_available,False,False,265
446,582,2015-06-20,point,foot,gun,Chicago,Cook,IL,41.766403,-87.572648,not_available,Alfontish Cockerham,23.0,male,B,not_available,False,False,265
501,624,2015-07-09,point,foot,gun,Chicago,Cook,IL,41.758518,-87.607837,not_available,Martice Milliner,27.0,male,B,not_available,False,False,265
507,1152,2015-07-10,point,not,gun,Chicago,Cook,IL,41.701912,-87.607766,not_available,Eugene McSwain,25.0,male,B,not_available,False,False,265
660,795,2015-08-29,undetermined,car,unarmed,Chicago,Cook,IL,41.850735,-87.670897,not_available,Rafael Cruz Jr,29.0,male,H,not_available,False,False,265

In [6]:
fatalities_data.to_csv("fatalities_shoot.csv")